@page "/tasks"
@using MyToDo.Web.Services.Abstractions
@using MyToDo.Web.Shared.Pagination
@inject ITaskService TaskService

<h3>Задачи</h3>

<button class="btn btn-primary">
    <i class="bi bi-plus-square-fill"></i>&nbsp; Создать
</button>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Создатель</th>
            <th>Дата создания</th>
            <th>Срок исполнения</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in _tasks)
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.CreatorName</td>
                <td>@task.CreatedOn</td>
                <td>@task.Deadline></td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col">
        <Pagination PageView="_pageView" Spread="3" SelectedPage="SelectPageAsync" />
    </div>
</div>