@page "/login"
@using MyToDo.Web.Services.Abstractions

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMemberService MemberService
@inject IJSRuntime JsRuntime

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <div class="mb-3 text-center">
            <h3>Вход в аккаунт</h3>
        </div>
        <div class="mb-3">
            <label class="form-control" for="email">Почта</label>
            <input type="email" class="form-control" id="email" @bind="_loginDto.Email">
        </div>
        <div class="mb-3">
            <label class="form-control" for="password">Пароль</label>
            <input type="password" id="password" class="form-control" @bind="_loginDto.Password">
        </div>
        <div class="mb-3 d-grid gap-2">
            <button type="button" class="btn btn-primary" @onclick="@LoginAsync">Войти</button>
        </div>
    </div>
</div>
